
/* 容器中附件的样式 */
.message-attachments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: self-end;
  align-content: end;
  gap: 12px;
  max-width: 100%;
  .Bubble {
    max-width: 100%;
  }
  &.left {
    align-items: self-start;
    .download {
      text-align: left;
    }
  }
  &.right {
    .Bubble {
      align-self: flex-end;
    }
    .download {
      text-align: right;
    }
  }

  .FileCard {
    width: 240px !important;
  }
}


.messageContent {
  /* 确保内容不会超出对话框 */
  max-width: 100%;
  word-wrap: break-word;
}

/* 使图片在对话框内自适应 */
.messageContent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* 可选：添加圆角 */
}

/* 使表格在对话框内自适应 */
.messageContent table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  display: table;
  &::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    width: 2px;
    background-color: #C4CAD5;
    -webkit-border-radius: 1px;
  }
}

.messageContent th,
.messageContent td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  white-space: nowrap; /* 禁止文字换行 */
}

.messageContent th {
  background-color: var(--color-fill-1);
}

/* 响应式处理，确保表格在小屏幕上可滚动 */
.messageContent .table-wrapper {
  overflow-x: auto;
}

.messageContent ul, .messageContent ol {
  line-height: 0;
}
.messageContent li {
  line-height: normal;
}
.code-block {
  position: relative;
  background: #2f2f2f;
  border-radius: 8px;
  overflow: hidden;

  pre {
    margin: 0 !important; /* 去掉默认的间距 */
    padding-right: 50px; /* 给按钮预留空间 */
  }
}
.code-btn {
  border: none;
  cursor: pointer;
  height: 36px;
  padding-left: 14px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: var(--gray-3);
    font-size: 12px;
    display: inline-block;
  }

  span.cope {
    background: #2f2f2f;
    border-radius: 6px;
    padding: 6px 8px;
    box-sizing: border-box;
  }

}
/** 语音 */
.chat-message_voice {
  overflow: hidden;
  padding: 12px;
  box-sizing: border-box;
  background: var(--brand-3);
  border-radius: var(--radius-md);
}
.voice_message {
  display: flex;
  align-items: center;
  height: 20px;
  cursor: pointer;
  .voice_content {
    display: flex;
    align-items: center;
    img {
      width: 18px;
      height: 18px;
    }
  }

  &.voice_sent {
    flex-direction: row-reverse;
    .voice_seconds {
      padding-right: 6px;
    }
    &.playing .voice_content img {
      animation: voiceInfinite 1s ease-in-out infinite;
    }
    &.playing .voice_content::before {
      animation: voiceInfinite 1.2s ease-in-out infinite;
    }
  }
  &.voice_receive {
    .voice_content {
      transform: rotate(180deg);
    }
    .voice_seconds {
      padding-left: 6px;
    }
    &.playing .voice_content img {
      animation: voiceInfinite 1s ease-in-out infinite;
    }
    &.playing .voice_content::before {
      animation: voiceInfinite 1.2s ease-in-out infinite;
    }
  }
}

@keyframes voiceInfinite{
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
